.lightbody {
  background: hsl(0, 0%, 98%);
  color: black;
}
.lightElement {
  background: white;
  color: black;
}

.darkbody {
  background: hsl(207, 26%, 17%);
  color: white;
}

.darkElement {
  background: hsl(209, 23%, 22%);
  color: white;
}

#root {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
}
header {
  width: 99vw;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 20px 100px;
}
#filter-section {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 20px 0px;
}
.card {
  width: 300px;
  height: fit-content;
}
h4 {
  margin: 0px;
}
h3 {
  margin: 0px 20px;
}
section {
  display: flex;
  align-content: center;
  margin: 10px 20px;
}
h1 {
  margin: 0px;
  font-size: 25px;
}
header,
.darkmode,
.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 98%);
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Public Sans', sans-serif;
}
h4 {
  font-size: 14px;
  font-weight: 600;
}
h3 {
  font-size: 25px;
  font-weight: 700;
}
h6 {
  font-size: 20px;
  font-weight: 300;
}
#darkmode:hover {
  cursor: pointer;
}
header {
  display: flex;
  height: 5vw;
  justify-content: space-between;
  padding: 0 5vw;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
}
#which-country {
  font-size: 30px;
  font-weight: 700;
  box-sizing: border-box;
}
.darkmode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ionicon {
  width: 30px;
  height: 30px;
}
.darkmode :hover {
  cursor: pointer;
}
#darkmode-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
#backbutton {
  width: fit-content;
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  border: none;
  margin: 5vh 5vw;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
}
#search-logo {
  width: 30px;
  height: 30px;
  border: none;
  margin-left: 10px;
}
#search {
  width: 350px;
  height: 35px;
  background: transparent;
  border: none;
  margin-left: 10px;
}

#search:focus {
  outline: none;
}
select {
  width: 200px;
  height: 50px;
  background-color: white;
  border: none;
  padding: 10px;
  margin-bottom: 0px;
}
option:nth-child(1) {
  color: #999;
  margin-top: 100px;
}
select:focus {
  outline: none;
}

.container {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 150px;
  justify-content: flex-start;
  margin: 0px auto;
  box-sizing: border-box;
}
.country-card {
  width: 300px;
  padding-bottom: 30px;
  border-radius: 5px;
}
.country-card-img {
  width: 300px;
  height: 160px;
  border-radius: 5px 5px 0px 0px;
}
.country-card-name {
  margin: 20px 20px;
  font-size: 20px;
  font-weight: 900;
}
.country-card-population,
.country-card-region,
.country-card-rows,
.country-card-capital {
  display: flex;
  align-items: baseline;
  margin: 10px 20px;
}
#country-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 5vw;
}
#country-info {
  width: 40vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}
#country-name {
  font-size: 60px;
  font-weight: 800;
}
#display-img {
  width: 35vw;
  height: 40vh;
}
#contain {
  height: 50vh;
}
span {
  margin-left: 10px;
  font-size: 14px;
}
.back {
  width: 100px;
  height: 30px;
  margin: 20px 10px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

#back {
  height: 30px;
  border: none;
  background: none;
}

.country-card:hover {
  cursor: pointer;
}
.no-country-found {
  margin: 100px auto;
  font-size: 3vw;
}
#details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5vw;
}
#button-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 30vw;
  flex-grow: 50px 50px;
}
#border-countrys {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 50vw;
}
.country-border-button {
  height: 30px;
  width: 100px;
  padding: 5px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}
.country-card-rows {
  display: flex;
  align-items: baseline;
  margin: 10px 0px;
}
@media only screen and (max-width: 550px) and (min-width: 300px) {
  header {
    height: 50px;
    width: 100vw;
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    box-sizing: border-box;
  }
  #filter-section {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px 0px;
  }
  body {
    box-sizing: border-box;
  }
  h3 {
    font-size: 20px;
    font-weight: 300;
  }
  h6 {
    font-size: 14px;
    font-weight: 300;
  }
  #which-country {
    font-size: 15px;
  }
  #darkmode {
    display: flex;
    align-items: center;
  }
  #darkmode-img {
    width: 20px;
    height: 20px;
  }
  #search-bar {
    width: 90%;
    margin-bottom: 50px;
  }
  .container {
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 100vw;
  }

  .country-card-img,
  .country-card {
    width: 300px;
  }

  #country-data {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
  }
  #country-info {
    width: 90vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 200px;
    margin-top: 50px;
  }
  #display-img {
    width: 90vw;
    height: 250px;
  }
  #country-name {
    margin-top: 50px;
  }
  #country-info-div {
    margin-top: 50px;
  }
  #back {
    margin-left: 20px;
  }

  #button-container {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  #border-countrys {
    top: 150px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
    width: 90vw;
  }
  .country-border-button {
    width: fit-content;
    height: 30px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
}
